<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <link rel="icon" href="assets/Logo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="js/dist/script.js" defer></script>
    <title>ReactTrader</title>
</head>
<body class="login">
     <main>
         <section class="screen-leva">
             <div class="logo">
                 <img src="./assets/Logo.png" alt="logo ReactTrader" class="img-logo">
                 <p class="logo-header">ReactTrader</p>
             </div>
             <div class="desktop-content">
                 <img src="./assets/undraw.png" alt="undraw image" class="undraw">
                 <p>Včechny Vaše obchody na jednom místě. Tohle je produktivita.</p>
             </div>
         </section>
         <section class="mobile-clouds">
             <img src="./assets/cloud-divider.png" alt="clouds divider">
         </section>
         <section class="screen-prava">
             <p class="header loginHeader">Přihlášení</p>
             <p class="header registerHeader">Registrace</p>
                 <form action="" class="login-form loginForm">
                     <div class="input">
                        <input type="text" name="email" class="inputEmail inputClass">
                        <label for="email" class="labelEmail label">E-mailová adresa</label>
                        <img src="./assets/rectangle.png" class="rectangle">
                     </div>
                      <div class="input">
                        <input type="password" name="heslo" class="inputHeslo inputClass">
                        <label for="heslo" class="labelHeslo label">Heslo</label>
                        <img src="./assets/rectangle.png" class="rectangle">
                      </div>
                      <input type="submit" value="Přihlásit se">
                 </form>
                 <form action="" class="login-form registerForm">
                    <div class="input">
                       <input type="text" name="jmeno" class="inputJmeno inputClass">
                       <label for="jmeno" class="labelJmeno label">Jméno</label>
                       <img src="./assets/rectangle.png" class="rectangle">
                    </div>
                    <div class="input">
                        <input type="text" name="email" class="inputEmail inputClass">
                        <label for="email" class="labelEmail label">E-mailová adresa</label>
                        <img src="./assets/rectangle.png" class="rectangle">
                     </div>
                     <div class="input">
                       <input type="password" name="heslo" class="inputHeslo inputClass">
                       <label for="heslo" class="labelHeslo label">Heslo</label>
                       <img src="./assets/rectangle.png" class="rectangle">
                     </div>
                     <div class="input">
                        <input type="password" name="hesloZnovu" class="inputHesloZnovu inputClass">
                        <label for="hesloZnovu" class="labelHesloZnovu label">Heslo znovu</label>
                        <img src="./assets/rectangle.png" class="rectangle">
                      </div>
                     <input type="submit" value="Zaregistrovat se">
                </form>
            <p class="footer loginHeader">Nemáte účet? <span class="register">Zaregistrovat se.</span></p>
            <p class="footer registerHeader">Již máte účet? <span class="register">Přihlásit se.</span></p>
         </section>
     </main>
</body>
</html>