$bg-background-mobile: "../assets/mobile-background.png";
$bg-background-desktop: "../assets/desktop-background.png";
$bg-screen-leva: "../assets/leva-strana-bg.png";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
       display: flex;
       flex-flow: row wrap;
    }

    .screen-leva {
       background-image: url($bg-background-mobile);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height: 50%;
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       transition: all 0.75s ease-in-out;

       .logo img{
         width: 10rem;
       }

       .logo-header {
           color: white;
           text-align: center;
           font-size: 3vh;
       }

       .desktop-content {
           display: none;
       }
    }



    .mobile-clouds {
        position: relative;
        bottom: 3rem;
        transition: all 0.75s ease-in-out;
        img {
            width: 100%;
        }
    }

    .registerCloud{
        transform: rotate(180deg);
        bottom: -5%;
     }

    .switchRegistrationColor {
        transform: translate3d(0, 101%, 0);
        
     }
  
    
    .screen-prava {
        display: flex;
        flex-flow: column wrap;
        padding: 1rem;
        position: relative;
        top: -3rem;
        transition: all 0.75s ease-in-out;
        .header {
            font-size: 3vh;
            font-weight: bold;
        }
        .registerHeader {
            display: none;
        }
        .loginHeader {
            display: block;
        }
        .loginForm {
            display: inline-block;
        }
        .registerForm {
            display: none;
        }
        .register {
            cursor: pointer;
            text-decoration: underline;
        }
        form {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            .input {
                margin-top: 2rem;
                position: relative;
                label {
                    margin: 0;
                    padding: 0;
                    color: lightgray;
                     font-size: 1rem;
                     position: absolute;
                      bottom: 1rem;
                      left: 0.5rem;
                      transform: translate3d(0,0,0);
                      transition: all 0.2s ease-in-out;
                      pointer-events: none;
                }
                .offset {
                    transform: translate3d(0,-30px,0);
                    font-size: 0.5rem;
                }  
               
            }
            input[type=text], input[type=password] {
                width: 100%;
                font-size: 1.5rem;
                outline: none;
                border: none;
            }
            .rectangle {
             width: 100%;
            }
            input[type=submit] {
                margin: 2rem;
                width: 80%;
                font-size: 1.25rem;
                padding: 1rem;
                outline: none;
                border: none;
                color: white;
                background-image: linear-gradient(180deg, #3EA1DB 0%, #5D34EC 100%);
                border-radius: 30px;
                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }
                &:active {
                    opacity: 0.8;
                }
            }
        }
        .footer {
            text-align: center;
            position: relative;
            top: -1rem;
            a {
                color: black;
            }
        }
    }

    .switchRegistrationWhite {
        transform: translate3d(0,-90%,0);
        background-color: white;
        .loginHeader {
            display: none;
        }
        .registerHeader {
            display: block;
        }
        .loginForm {
            display: none;
        }
        .registerForm {
            display: inline-block;
        }

    ::placeholder {
        color: lightgray;
        font-size: 1rem;
        position: relative;
        bottom: 0.5rem;
    }
    
} 
}

@media only screen and (min-width:600px) {
    body {
        background-image: url($bg-background-desktop);
        background-position: center;
        background-repeat:no-repeat;
        background-size:cover;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    main {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        flex: 0 0 70%;
    }

    .screen-leva {
        box-shadow: 10px 10px 50px 11px rgba(0, 0, 0, 0.25);
        //border-top-left-radius: 30px;
        //border-bottom-left-radius: 30px;
        border-radius: 30px;
        flex: 1 1 60%;
        background-image: url($bg-screen-leva);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.75s ease-in-out;
        .logo {
            display: flex;
            align-items: center;
           

            img {
                width: 6rem;
                margin: 2rem;
                text-shadow: 10px 10px;
            }
            .logo-header {
                color: white;
                font-size: 3rem;
            }
        }

        .desktop-content {
            margin: 7rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            p {
                color: white;
                width: 20rem;
                margin: 2rem;
            }
        }
    }

    .switchRegistrationColor {
       transform: translate3d(70%, 0, 0);
      // border-top-left-radius: 0px;
      // border-bottom-left-radius: 0px;
     // border-top-right-radius: 30px;
     //  border-bottom-right-radius: 30px;
    }

    .screen-prava {
        border-radius: 30px;
        box-shadow: 10px 10px 50px 11px rgba(0, 0, 0, 0.25);
        transform: translate3d(0,0,0);
        flex: 1 1 40%;
        background-color: white;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        transition: all 0.75s ease-in-out;
        .registerHeader {
            display: none;
        }
        .loginHeader {
            display: block;
        }
        .header {
            font-size: 3rem;
            margin: 2rem;
        }
        .loginForm {
            display: inline-block;
        }
        .registerForm {
            display: none;
        }
        form {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 1rem;
        }
        .input {
            display: flex;
            flex-flow: column wrap;
            width: 90%;
            margin: 1rem;
            position: relative;
            label {
                margin: 0;
                padding: 0;
                color: lightgray;
                 font-size: 1rem;
                 position: absolute;
                  bottom: 1rem;
                  left: 0.5rem;
                  transform: translate3d(0,0,0);
                  transition: all 0.2s ease-in-out;
                  pointer-events: none;
            }
            .offset {
                transform: translate3d(0,-30px,0);
                font-size: 0.5rem;
            }           
        }
        input[type=text], input[type=password] {
            font-size: 1.5rem;
            padding: 0.5rem;
            outline: none;
            border: none;
        }
        

        input[type=submit] {
            margin: 2rem;
            padding: 1rem;
            width: 80%;
            font-size: 1.5rem;
            outline: none;
            border: none;
            border-radius: 30px;
            color: white;
            transition: all 0.2s;
            background-image: linear-gradient(180deg, #3EA1DB 0%, #5D34EC 100%);
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
            &:active {
                opacity: 0.8;
            }
        }
        .footer {
            text-align: center;
           a {
               color: black;
           }
           .register {
               cursor: pointer;
               text-decoration: underline;
           }
        }

    
    }

    .switchRegistrationWhite {
        transform: translate3d(-145%,0,0);
       // border-top-left-radius: 30px;
      //  border-bottom-left-radius: 30px;
      //  border-top-right-radius: 0px;
      //  border-bottom-right-radius: 0px;
        .loginHeader {
            display: none;
        }
        .registerHeader {
            display: block;
        }
        .loginForm {
            display: none;
        }
        .registerForm {
            display: inline-block;
        }
    }

    .mobile-clouds {
        display: none;
    }

}