<section class="header">
    <div class="navbar">
        <a href="{plink Dashboard:default}">PŘEHLED</a>
        <a href="{plink Trades:default}">OBCHODY</a>
        <a href="{plink Account:default}">ÚČET</a>
        <div class="user">
            <a href="#" class="userButton">
                <i class="fas fa-user notClickable"></i>
            </a>
            <div class="mainmenu-overlay-content">
                <h2>Jan Novák</h2>
                <div class="left">
                    <h3>8 755 $</h3>
                    <p style="color:limegreen">+ 210 $</p>
                    <p style="color:limegreen">+ 9,48 %</p>
                </div>
                <div class="right">
                    <h3>(2 745 $)</h3>
                </div>
                <div class="button">
                    {control logoutForm}
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-mobile">
        <a href="{plink Dashboard:default}"><i class="fas fa-list"></i></a>
        <a href="{plink Trades:default}"><i class="fas fa-tags"></i></a>
        <a href="{plink Account:default}"><i class="fas fa-chart-bar"></i></a>
        <div class="user">
            <a href="#" class="userButton-mobile">
                <i class="fas fa-user notClickable"></i>
            </a>
            <div class="mainmenu-overlay-content-mobile">
                <h2>Jan Novák</h2>
                <div class="left">
                    <h3>8 755 $</h3>
                    <p style="color:limegreen">+ 210 $</p>
                    <p style="color:limegreen">+ 9,48 %</p>
                </div>
                 <div class="right">
                     <h3>(2 745 $)</h3>
                 </div>
                <div class="button">
                    {control logoutForm}
                </div>
            </div>
        </div>
    </div>
</section>