{form form}
    <div class="input">
        {input jmeno}
        <img src="{$basePath}/template/assets/rectangle.png" alt="" class="rectangle">
    </div>
    <div class="input">
        {input email}
        <img src="{$basePath}/template/assets/rectangle.png" alt="" class="rectangle">
    </div>
    <div class="input">
        {input zprava}
    </div>
    <div class="input">
        {input send}
    </div>
{/form}