{block content}
    <div class="trades">
        {control mainMenu}
        <main>
            <h1>Trades</h1>
        </main>
    </div>
    {*JS pro tuto stránku*}
    <script src="{$basePath}/template/js/dist/mainMenu.js"></script>
{/block}