{block content}
    <div class="thanks">
        <header>
            <h1>Děkujeme! Zpráva byla úspěšně zaslána!</h1>
        </header>
        <main>
            <p>Budeme se snažit odpovědět co nejdříve to půjde.</p>
            <div class="backlink">
                <p><a n:href="Homepage:default"><- Zpět na hlavní stránku</a></p>
            </div>
        </main>
    </div>
{/block}