$bg-background-mobile: "../assets/mainpage-bg-mobile.png";
$bg-background-desktop: "../assets/mainpage-bg-desktop.png";
$cloud-start: "../assets/cloud-start.png";
$cloud-instrumenty: "../assets/cloud-instrumenty.png";
$cloud-kontakt: "../assets/cloud-kontakt.png";
$cloud-start-desktop: "../assets/cloud-start-desktop.png";
$cloud-instrumenty-desktop: "../assets/cloud-instrumenty-desktop.png";
$cloud-kontakt-desktop: "../assets/cloud-kontakt-desktop.png";
$rectangle-textarea: "../assets/rectangle-textarea.png";
$rectangle-textarea-desktop: "../assets/rectangle-textarea-desktop.png";
$montserrat: "Montserrat", sans-serif;



@media only screen and (max-width:600px) {


    .mainPage {
        background-image: url($bg-background-mobile);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        .header {
            display: flex;
            flex-flow: row nowrap;
            .logo {
                flex: 1 0 0;
                p {
                    display: none;
                }
                img {
                    width: 3.5rem;
                    margin: 0.75rem;
                }
            }
            .navbar {
               display: none;
            }
            .navbar-mobile {

                #openMenuBtn {
                   img {
                       width: 3rem;
                       margin: 0.25rem;
                   }
                }

                margin: 1rem;
                .blur {
                    height: 0;
                    backdrop-filter: blur(2px);
                    width: 100%;
                    position: fixed;
                    z-index:1;
                    left: 0;
                    top: 0;
                    transition: 0.2s;
                }
                .overlay {
                    #closeMenuBtn {
                        position: absolute;
                        top: 15px;
                        right: 35px;
                        font-size: 40px;
                        text-decoration: none;
                        color: #818181;
                    }
                    height: 0;
                    width: 100%;
                    position: fixed;
                    z-index: 2;
                    left:0;
                    top:0;
                    background-color: rgba($color: #f1f1f1, $alpha: 1);
                    overflow: hidden;
                    transition: 0.5s;

                    .overlay-content {
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        position: relative;
                        top: 15%;
                        width: 100%;
                        text-align: center;
                        margin-top: 30px;
                        .loginButton {
                            width: 60%;
                            border-radius: 30px;
                            background-image: linear-gradient(180deg, #3EA1DB 0%, #5D34EC 100%);
                            a {
                                color: white;
                            }
                        }
                        a {
                            padding: 8px;
                            text-decoration: none;
                            font-size: 20px;
                            color: #818181;
                            display: block;
                            transition: 0.3s;
                            &:hover {
                                color: #3EA1DB;
                            }
                        }
                    }
                }
            }
        }
        // Section start
        .start {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            .info {
                flex: 0 1 80%;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                margin-top: 4rem;
                .before {
                    font-family: $montserrat;
                    font-weight: 100;
                    font-size: 17px;
                }
                .mainHeader {
                    font-family: $montserrat;
                    font-weight: 600;
                    font-size: 35px;
                    margin: 0.5rem;
                }
                .description {
                    font-family: $montserrat;
                    font-weight: 100;
                    font-size: 14px;
                }
            }
        .cloud {
            background-image: url($cloud-start);
            .cloud-image {
                display: none;
            }
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .href {
                padding: 0.5rem;
                color: lightblue;
            }
            .icons {
                margin-top: -3rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                width: 80%;
                margin-left: 4rem;
                .column {
                    display: flex;
                    flex-flow: column wrap;
                    img {
                        width: 60px;
                    }
                }
            }
            .text {
                width: 70%;
                text-align: center;
                margin-top: 1rem;
                margin-left: 6rem;
                font-size: 12px;
            }
        }
        }
        // section instrumenty
        .instrumenty {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin-top: 12rem;

            .info {
                text-align: center;
                color: white;
              .mainHeader {
                  font-family: $montserrat;
                  font-weight: 600;
                  font-size: 25px;
              }
              .description {
                  margin-left: 2rem;
                  margin-top: 1rem;
                  font-family: $montserrat;
                  font-weight: 100;
                  width: 80%;
              }
              .href {
                  color: lightblue;
              }
            }

            .cloud {
                background-image: url($cloud-instrumenty);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .cloud-image {
                display: none;
            }
            .undraw img{
                width: 60%;
                margin: 1rem;
            }
            .text {
                margin-left: 2rem;
                margin-top: 2.5rem;
                width: 40%;
            }
            }
        }

        //section kontakt
        .kontakt {
           .info {
            margin-top: 10rem;
            margin-bottom: 5rem;
               color: white;
               text-align: center;
               .mainHeader {
                   margin: 0.5rem;
                   font-family: $montserrat;
                   font-weight: 600;
                   font-size: 30px;
               }
               .description {
                   font-family: $montserrat;
                   font-weight: 100;
                   font-size: 14px;
               }
           }
            .cloud {
                .cloud-image {
                    display: none;
                }
                background-image: url($cloud-kontakt);
                background-repeat: no-repeat;
                background-size: cover;
                height: 50%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                .dotaznik {
                    margin-top: 3rem;
                    width: 100%;
                    .input {
                        label {
                            margin: 0;
                            padding: 0;
                            color: green;
                            font-size: 1rem;
                            position: absolute;
                            bottom: 1rem;
                            left: 0.5rem;
                            transform: translate3d(0,0,0);
                            transition: all 0.2s ease-in-out;
                            pointer-events: none;
                        }
                        .rectangle {
                            width: 85%;
                            padding: 0.5rem;
                        }
                        margin: 1rem;
                        input[type=text] {
                            width: 80%;
                            font-size: 15px;
                            border: none;
                            outline: none;
                        }
                        input[type=submit] {
                            width: 40%;
                            padding: 0.5rem;
                            border-radius: 30px;
                            border: none;
                            outline: none;
                            color: white;
                            font-size: 15px;
                            background-image: linear-gradient(180deg, #3EA1DB 0%, #5D34EC 100%);
                            box-shadow: 10px 5px 25px black;
                        }
                        textarea {
                            vertical-align: top;
                            width: 80%;
                            font-size: 15px;
                            padding: 0.5rem;
                            height: 7rem;
                            outline: none;
                            border: none;
                            background-image: url($rectangle-textarea);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .mainPage {
        background-image: url($bg-background-desktop);
        background-repeat: no-repeat;
        background-size: cover;
        .header {

            display: flex;
            padding: 1.5rem;
            flex-flow: row nowrap;
            .logo {
                flex: 1 0 0;
                display: flex;
               align-items: center;
                .headerHref {
                   display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    text-decoration: none;
                    transition: opacity 0.1s;
                    &:hover {
                        opacity: 0.75;
                    }
                    img {
                        height: 100%;
                    }
                }
               p {
                   padding: 1rem;
                   color: white;
                   font-weight: 500;
                   font-size: 30px;
               }
            }
            .navbar-mobile {
                display: none;
            }
            .navbar {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                a {
                    display: flex;
                    flex-flow: row nowrap;
                    text-decoration: none;
                    color: white;
                    padding-right: 2.5rem;
                    transition: opacity 0.1s;
                    font-weight: 200;
                    &:hover {
                        opacity: 0.75;
                    }
                }
                .loginButton {
                    a {
                        padding-right: 0;
                        background-image: linear-gradient(180deg, #5D34EC 0%, #3EA1DB 100%);
                        padding: 1rem;
                        text-align: center;
                        border-radius: 30px;
                        box-shadow: 3px 6px 7px rgba(0,0,0, 0.25);
                        margin-right: 2rem;
                    }
                }

            }
        }
        .start {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 100%;
            .info {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                flex: 0 1 50%;
                color: white;
                padding-left: 10rem;
                padding-bottom: 15rem;
                width: 100%;
                .before {
                    font-weight: 200;
                }
                .mainHeader {
                    font-weight: 600;
                    font-size: 50px;
                }
                .description {
                    margin-top: 0.5rem;
                    font-weight: 200;
                    width: 60%;
                }
            }
            .cloud {
                position: relative;
                top: 2rem;
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
                flex: 0 1 50%;
                justify-content: flex-end;
                .cloud-image {
                    img {
                        width: 50rem;
                    }
                }
                .icons {
                    position:absolute;
                    top: 30%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    width: 100%;
                    padding-left: 20%;
                    img {
                        width: 7vh;
                    }
                }
                .text {
                    padding-left: 5%;
                    display: flex;
                    font-weight: 200;
                    height: 20%;
                    flex-flow: row wrap;
                    width: 60%;
                    position: absolute;
                    top: 45%;
                    left: 30%;
                    .href {
                        color: lightblue;
                    }
                }
            }
        }
        .instrumenty {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            .cloud {
                flex: 1 0 50%;
                position: relative;
                top: 10%;
                display: flex;
                flex-flow: column wrap;
                height: 100%;
                .cloud-image {
                    img {
                        width: 55rem;
                    }
                }
                .undraw {
                    img {
                        width: 45%;
                        position: absolute;
                        top: 20%;
                        left: 10%;
                    }
                }
                .text {
                    width: 50%;
                    position: absolute;
                    top: 65%;
                    left: 5%;
                    font-weight: 200;
                }
            }
            .info {
                display: flex;
                flex-flow: column wrap;
                color: white;
                justify-content: center;
                align-items: flex-start;
                position: relative;
                font-weight: 200;
                flex: 0 1 40%;
                .mainHeader {
                    font-weight: 600;
                    font-size: 50px;
                }
                .description {
                    margin-top: 1rem;
                    font-weight: 200;
                    width: 50%;
                    .href {
                        color: lightblue;
                    }
                }
            }
        }
        .kontakt {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: column nowrap;
            height: 100%;
            .info {
                color: white;
                flex: 1 0 30%;
                text-align: center;
                padding-top: 2.5rem;
                display: flex;
                flex-flow: column wrap;
                .mainHeader {
                    font-weight: 600;
                    font-size: 50px;
                }
                .description {
                    font-weight: 200;
                    margin-bottom: 5rem;
                }
            }
            .cloud {
                display: flex;
                flex-flow: row nowrap;
                flex: 0 1 70%;
                width: 100%;
                align-items: flex-end;
                justify-content: center;
                .cloud-image {
                    display: flex;
                    flex-flow: row wrap;
                    width: 100%;
                    img {
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
                .dotaznik {
                    position: absolute;
                   width: 40%;

                   display: flex;
                   flex: 0 1 30%;
                   flex-flow: row wrap;
                   align-items: center;
                   justify-content: center;
                    form {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-flow: column wrap;
                        justify-content: center;
                        align-items: center;
                        .input {
                            margin: 1rem;
                            display: flex;
                            flex-flow: column wrap;
                            width: 80%;
                            align-items: center;
                            .rectangle {
                                padding-top: 0.5rem;
                                width: 100%;
                            }
                            input[type=text] {
                                width: 100%;
                                font-size: 1.5rem;
                                outline: none;
                                border: none;
                            }
                            .textAreaClass {
                                padding: 1rem;
                               resize: none;
                               height: 15rem;
                               width: 100%;
                               outline: none;
                               font-size: 1.5rem;
                               background-image: url($rectangle-textarea-desktop);
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                            }
                            input[type=submit] {
                                padding: 0.5rem;
                                width: 12.5rem;
                                margin-bottom: 1rem;
                                margin-top: 0;
                                height: 3rem;
                                border-radius: 30px;
                                border: none;
                                outline: none;
                                color: white;
                                font-size: 15px;
                                background-image: linear-gradient(180deg, #3EA1DB 0%, #5D34EC 100%);
                                box-shadow: 10px 5px 25px black;
                                cursor: pointer;
                                transition: opacity 0.1s;
                                &:hover {
                                    opacity: 0.75;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}