{form form}
       {input ticker}
        {input from}
        {input to}
        {input direction}
        <div class="hidden">
                {input isShort}
        </div>
        {input strategy}
        {input maxProfit}
        {input maxLoss}
        {input openingIv}
        {input closingIv}
        {input realisedPl}
        {input send}
{/form}