{form form}
        <div class="input">
            {input email}
            <label for="email" class="labelEmail label">E-mailová adresa</label>
            <img src="{$basePath}/template/assets/rectangle.png" class="rectangle">
        </div>
        <div class="input">
            {input heslo}
            <label for="heslo" class="labelHeslo label">Heslo</label>
            <img src="{$basePath}/template/assets/rectangle.png" class="rectangle">
        </div>
        {input send}
{/form}